<!DOCTYPE html>
<html>
  <head>
    <title>Sisko Ipsum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <meta property="og:title" content="Sisko Ipsum"/>
    <meta property="og:description" content="We all need fillter text, and Lorem Ipsum? More like Borem Ipsum, am I right? So fill your forms with fun, your pagers with phasers, and your fields with shields. Sisko Ipsum lets your replace you boring filler text with fun quotes from Benjamin Bisko."/>
    <!-- <meta property="og:image" content="http://nessmap.herokuapp.com/static/images/heatmap.png"/> -->
    
  </head>
  <body>
    <div id='content' class='container'>
      <div id='title' class='text-right'><h2>Sisko Ipsum</h2></div>
      <div id='center-content'>
        <div id='options-form'>
          <div class='row'>
            <div class='col-sm-12'>
              <p>We all need fillter text, and Lorem Ipsum? More like Borem Ipsum, am I right? So fill your forms with fun, your pagers with phasers, and your fields with shields. Sisko Ipsum lets your replace you boring filler text with fun quotes from Benjamin Bisko.</p>
              <hr />
            </div>
          </div>
          <div class='row'>
              <form path='' id='update-form' method='POST' role='form' class='form-horizontal'>
              {% csrf_token %}
              <div class='col-sm-2 col-sm-offset-1'>
                <div class='form-group'>
                  <label for='id_paragraphs' class='control-label'>Paragraphs</label>
                  {{form.paragraphs}}
                </div>
            </div>

            <div class='col-md-3 col-sm-6'>
              <label for='id_length' class='control-label'>Paragraph Length</label>
              <span id="id_length_span" class='form-group'>
                {{form.length}}
              </span>
            </div>

            <div class='col-sm-3'>
              <input type='submit' value='Update' class="btn btn-primary" />
            </div>
            </form>
          </div>
        </div>
        <div id='main-content' class='page col-sm-12'>
          {% for text in texts %}
            <p>{{text.text}}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id='footer'>
    <div class='text-center'>Idea blatently ripped off from <a href='https://twitter.com/jessicaspacekat'>@jessicaspacekat</a> who made <a href='http://www.rikeripsum.com/'>Riker Ipsum</a></div>
    <div class='text-center'>© {% now "Y" %} <a href='https://twitter.com/jmickela'>Jason Mickela</a></div>
    <div class='text-center'>Site made with a little free time, Django, and Bourbon.</div>
    <div class='text-center'>The code for this site can be found on <a href='https://github.com/jmickela/siskoipsum'>GitHub</a>.
    </div>

  <script type='text/template' id='text-list-template'>
    <p><%= text %></p>
  </script>

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js'></script>
  <script src='/static/js/site.js'></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17015084-11']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>